{{#section 'title'}}{{#if isEdit}}Edit{{else}}Add{{/if}} Account{{/section}}

<div class="col-lg-12">
    <div class="iq-edit-list-data">
        <div class="tab-content">
            <div class="tab-pane fade active show" id="personal-information" role="tabpanel">
                <div class="iq-card">
                    <div class="iq-card-header d-flex justify-content-between">
                        <div class="iq-header-title">
                            <h4 class="card-title">{{#if isEdit}}Edit{{else}}Add{{/if}} Account</h4>
                        </div>
                    </div>
                    <div class="iq-card-body">
                        <form id="formHanlerAccount" method="POST" action="/user/{{#if isEdit}}edit{{else}}add{{/if}}">
                            <div class=" row align-items-center">
                                {{#if isEdit}}
                                <div class="form-group col-sm-12">
                                    <label for="ID">ID</label>
                                    <input type="text" readonly="true" class="form-control" id="userId" name="userId" value="{{currentUser.ID}}">
                                </div>
                                {{/if}}
                                <div class="form-group col-sm-12">
                                    <label for="uname">User Name</label>
                                    <input type="text" class="form-control" id="userName" {{#if isEdit}}readonly="true"{{/if}} name="userName" value="{{currentUser.userName}}" required>
                                    <p style="color: red;" id="errUS"></p>
                                </div>
                                {{#unless isEdit}}
                                <div class="form-group col-sm-12">
                                    <label for="uname">Password</label>
                                    <input type="text" readonly="true" class="form-control" id="passWord" name="passWord" value="muzik@2021">
                                </div>
                                {{/unless}}
                                <div class="form-group col-sm-12">
                                    <label for="email">Email</label>
                                    <input type="email" class="form-control" id="Email" name="Email" value="{{currentUser.email}}" required>
                                    <p style="color: red;" id="errEmail"></p>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label class="d-block">Gender:</label>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="customRadio6" name="gender" value="1"
                                            class="custom-control-input" {{#if currentUser.gender}}checked{{/if}}>
                                        <label class="custom-control-label" for="customRadio6"> Male </label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="customRadio7" name="gender" value="0"
                                            class="custom-control-input" {{#unless currentUser.gender}}checked{{/unless}}>
                                        <label class="custom-control-label" for="customRadio7"> Female </label>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label for="dob">Date Of Birth:</label>
                                    <input type="date" class="form-control" name="DOB" id="DOB" value="{{parseDate currentUser.DOB}}">
                                </div>
                            </div>
                            <a class="btn btn-primary" href="/user" role="button">Back</a>
                            <button type="submit" class="btn btn-info mr-2">Save</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" type="text/javascript"></script>
{{#section 'js'}}
<script>
if ({{isEdit}})
{
    $("#formHanlerAccount").on("submit", function (e) {
    e.preventDefault();
    document.getElementById("errEmail").innerHTML = "";
    var email = $("#Email").val();
    var userId = $("#userId").val();
    var data = { ID: userId, Email: email };
    data = JSON.stringify({ data });
    $.ajax({
      url: "/user/checkemail",
      type: "POST",
      data: "Data=" + data,
      success: function (data) {
        if (data) {
            document.getElementById("errEmail").innerHTML = "This Email already exists";
        }
        else {
          $('#formHanlerAccount').off('submit').submit();
        }
      }
    });
  });
}
else
{
 $("#formHanlerAccount").on("submit", function (e) {
    e.preventDefault();
    document.getElementById("errEmail").innerHTML = "";
    document.getElementById("errUS").innerHTML = "";
    var email = $("#Email").val();
    var username = $("#userName").val();
    var data = { Email: email, Username: username };
    data = JSON.stringify({ data });
    $.ajax({
      url: "/register/checkinfo",
      type: "POST",
      data: "Data=" + data,
      success: function (data) {
        if (data.Exist) {
          if (data.err == 0) {
            document.getElementById("errEmail").innerHTML = "This Email already exists";
          }
          else {
            document.getElementById("errUS").innerHTML = "This Username already exists";
          }
        }
        else {
          $('#formHanlerAccount').off('submit').submit();
        }
      }
    });
  });
}
</script>
{{/section}}